{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Poliana Rufatto</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="wrapper">
    <img src="https://avatars1.githubusercontent.com/u/5182966?s=460&u=ae8da8137a4e8f19a68f9df693cf409b304d5b7a&v=4" alt="Poliana Rufatto">
    <h1>Poliana Rufatto</h1>
    <h2>Automatizadora de testes - Softplan</h2>
    <p>Estudante de programação, focada em front-end. Colaboradora da <a href="https://www.softplan.com.br/" target="_blank">Softplan</a></p>
</div>
<div id="links-footer" class="links">
    <a href="https://github.com/PolianaRufatto" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/polianarufatto/" target="_blank">Linkedin</a>
    <a href="/">Twitter</a>
</div>
{% endblock %}